<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iSmart.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9CF1A7F0E39DBD748E897AA80A6D78419E9E2981</string>
				<key>dateExpires</key>
				<string>2018/9/17</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>53U9CS6KCF.com.ccssoft.iResource</string>
				<key>com.apple.developer.team-identifier</key>
				<string>53U9CS6KCF</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>53U9CS6KCF.com.ccssoft.iResource</string>
				</array>
			</dict>
			<key>name</key>
			<string>iSmart.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>32b4c420-7f22-438b-bed3-afe90bf272e2</string>
				<key>name</key>
				<string>iResource</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>53U9CS6KCF</string>
				<key>name</key>
				<string>China Communication Service Application and Solution Technology Co.Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
